<section class="p-10 flex flex-col items-center">
    <h1 class="main-title">Rails App</h1>
    <div>
        <%= image_tag("ux.png", width: "800") %>
    </div>
    <div class="p-10 text-center">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Elementum eu facilisis sed odio morbi. Ut porttitor leo a diam. Duis at consectetur lorem donec massa sapien faucibus.
        Pellentesque adipiscing commodo elit at imperdiet dui accumsan. Nisl tincidunt eget nullam non nisi est sit.
        Ac turpis egestas maecenas pharetra convallis posuere morbi leo.
        Ut tortor pretium viverra suspendisse potenti. Viverra nam libero justo laoreet sit amet cursus sit. Volutpat maecenas
        volutpat blandit aliquam etiam erat velit scelerisque. In pellentesque massa placerat duis. Metus dictum at tempor
        commodo ullamcorper a lacus vestibulum sed. Iaculis at erat pellentesque adipiscing commodo elit. Consectetur a erat nam at lectus.
        Semper risus in hendrerit gravida rutrum quisque non tellus orci. Habitant morbi tristique senectus et netus et malesuada.
        Egestas purus viverra accumsan in nisl. Posuere morbi leo urna molestie at elementum eu facilisis sed.
        Nulla posuere sollicitudin aliquam ultrices sagittis orci a. Ultricies integer quis auctor elit sed vulputate mi.
        Pellentesque sit amet porttitor eget dolor morbi non arcu. Sociis natoque penatibus et magnis dis. Malesuada nunc vel risus
        commodo viverra maecenas accumsan lacus. Ac placerat vestibulum lectus mauris.
        Facilisis sed odio morbi quis commodo odio aenean sed. Aliquet risus feugiat in ante metus dictum at tempor commodo.
        Duis ut diam quam nulla porttitor massa id. Quisque egestas diam in arcu cursus euismod quis viverra nibh.
    </div>
</section>
